@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');

* {
    font-family: 'Kelly Slab', cursive;
}

body {
    padding: 40px;
    margin: 0px;
}

p {
    margin: 10px 0 10px 0;
}

header {
    border-bottom: 4px solid #E2E2E2;
    box-sizing: border-box;
}

.header-link {
    color: black;
}

.small-nav {
    padding: 7px 0px 7px 30px;
    background-color: #E2E2E2;
    width: 100%;
    height: 20px;
}

.small-nav-container {
    width: 25%;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.header-main {
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.main-logo {
    width: 360px;
}

.search-input {
    width: 80%;
    max-width: 800px;
    height: 50px;
    margin-left: 20px;
}

.basket-container {
    border-left: 2px solid #E2E2E2;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 0 20px 0 20px;
    margin-left: 20px;
}

.phone-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 0 20px 0 20px;
}

.header-img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.container {
    display: flex;
    justify-content: space-around;
}

.border {
    border-right: 2px solid #E2E2E2;
}

.header-text {
    font-size: 31px;
    margin-left: 25px;
}

.item-card {
    background: #CAE4EC;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 45px;
    width: 65%;
    padding: 20px 40px 15px 40px;
}

.item-picture {
    width: 90%;
    margin: auto;
    margin-bottom: 15px;
}

.path {
    border-bottom: 1px solid #C4C4C4;

}

h2 {
    font-size: 50px;
    margin: 0 0 10px 0;
    padding: 0;
}

.card-container {
    display: flex;
    flex-direction: column;
}

.cost-weight {
    display: flex;
}

.to-buy-container {
    display: flex;
    justify-content: space-between;
}

.buy-button {
    background: #FF7347;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 63px;
    width: 30%;
    text-align: center;
    padding: 8px 15px 5px 15px;
}

.weight {
    margin-right: 30px;
}

.middle-item-card {
    display: flex;
    flex-direction: column;
    border-radius: 45px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    background: #CAE4EC;
    width: 20%;
}

.card-picture {
    width: 100%;
    border-radius: 45px;
}

.middle-item-card-container {
    padding: 10px 30px 10px 30px;
}

.card-picture-name {
    font-size: 28px;
    margin-bottom: 4px;
}

.is-in-stock {
    color: #006B04;
}

.middle-item-card-container>p {
    font-size: 28px;
}

.item-card-button-container {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 15px;
}

.info-button-card {
    width: 40%;
    background: #FCE0D6;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 63px;
    text-align: center;
    padding: 8px 15px 5px 15px;
}

.buy-button-card {
    width: 40%;
    background: #FF7347;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 63px;
    text-align: center;
    padding: 8px 15px 5px 15px;
}

.main-container {
    width: 65%;
    display: flex;
    flex-direction: column;
}

.main-img {
    width: 100%;
    border-radius: 45px;
    /*box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);*/
    background:  #FCE0D6;
    margin-bottom: 15px;
}

.main-img-picture {
    width: 100%;
}

.info-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.info-container>div {
    border-radius: 45px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    background: #FCE0D6;
    width: 28%;
    padding: 10px 15px 10px 15px;
}

.new-items-block {
    width: 100%;
    height: 100px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    background: #FCE0D6;
}



