footer {
    background: #FFFFFF;
    border-top: 2px solid #E2E2E2;
    color: black;
    font-size: 24px;
    line-height: 29px;
}

.footer-content {
    margin: 0px 30px 0 30px;
}

.footer-content-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-img {
    margin-top: 30px;
}

.footer-confident-studio {
    flex-direction: column;
}

.footer-confident-studio span {
    align-items: center;
}

.studio {
    text-align: center;
    margin-top: 40px;
}

@media (max-width: 850px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2){

    footer {
        background: #FFFFFF;
        border-top: 2px solid #E2E2E2;
        color: black;
        font-size: 24px;
        line-height: 29px;
    }
    
    .footer-content {
        margin: 0px 30px 0 30px;
    }
    
    .footer-content-items {
        display: flex;
flex-direction: column;
flex-wrap: wrap;
    }
}

