@import url('https://fonts.googleapis.com/css2?family=Kelly+Slab&display=swap');

* {
    font-family: 'Kelly Slab', cursive;
}

body {
    padding: 0;
    margin: 0;
}

p {
    margin: 10px 0 10px 0;
}

header {
    border-bottom: 4px solid #E2E2E2;
    box-sizing: border-box;
}

.header-link {
    color: black;
}

.small-nav {
    padding: 7px 0 7px 0;
    background-color: #E2E2E2;
    width: 100%;
    height: 20px;
}

.small-nav-container {
    padding-left: 40px;
    width: 25%;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.header-main {
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.main-logo {
    width: 360px;
}

.search-input {
    width: 80%;
    max-width: 800px;
    height: 50px;
    padding-left: 20px;
    border-radius: 30px;
    border: 2px solid #E2E2E2;
}

.basket-container {
    border-left: 2px solid #E2E2E2;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 0 20px 0 20px;
    margin-left: 20px;
}

.phone-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 0 20px 0 20px;
}

.header-img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.container-header {
    display: flex;
    justify-content: space-around;
}

.border {
    border-right: 2px solid #E2E2E2;
}

.header-text {
    font-size: 31px;
    margin-left: 25px;
}

.item-card {
    background: #CAE4EC;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 45px;
    width: 65%;
    padding: 20px 40px 15px 40px;
}

.item-picture {
    width: 90%;
    margin: auto;
    margin-bottom: 15px;
}

.path {
    border-bottom: 1px solid #C4C4C4;

}

h2 {
    font-size: 50px;
    margin: 0 0 10px 0;
    padding: 0;
}

.card-container {
    display: flex;
    flex-direction: column;
}

.cost-weight {
    display: flex;
}

.to-buy-container {
    display: flex;
    justify-content: space-between;
}

.buy-button {
    background: #FF7347;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 63px;
    width: 30%;
    text-align: center;
    padding: 8px 15px 5px 15px;
}

.buy-button-basket {
    background: #FF7347;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 63px;
    width: 30%;
    text-align: center;
    padding: 8px 15px 5px 15px;
    font-size: 36px;
}

.weight {
    margin-right: 30px;
}

.middle-item-card {
    display: flex;
    flex-direction: column;
    border-radius: 45px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    background: #CAE4EC;
    width: 20%;
}

.card-picture {
    width: 100%;
    border-radius: 45px;
}

.middle-item-card-container {
    padding: 10px 30px 10px 30px;
}

.card-picture-name {
    font-size: 28px;
    margin-bottom: 4px;
}

.is-in-stock {
    color: #006B04;
}

.middle-item-card-container>p {
    font-size: 28px;
}

.item-card-button-container {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 15px;
}

.info-button-card {
    width: 40%;
    background: #52BFFC;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 63px;
    text-align: center;
    padding: 8px 15px 5px 15px;
}

.info-button-card>span {
    color: white;
}

.buy-button-card {
    width: 40%;
    background: #FF7347;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 63px;
    text-align: center;
    padding: 8px 15px 5px 15px;
}

.main-container {
    width: 72%;
    display: flex;
    flex-direction: column;
}

.main-img-picture {
    width: 100%;
    border-radius: 63px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
}

.info-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.info-container>div {
    border-radius: 45px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    background: #FCE0D6;
    width: 28%;
    border: 1px solid #000000;
    padding: 10px 15px 10px 15px;
}

.info-container>div>p {
    margin-left: 10px;
}

.new-items-block {
    width: 100%;
    background: #FCE0D6;
    border: 1px solid #000000;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0 40px 0;
}

.margin-item-card {
    width: 25%;
    height: 100%;

}

.margin-item-card .card-picture-name {
    font-size: 20px;
}

.margin-item-card .middle-item-card-container p {
    font-size: 22px;
}

.margin-item-card .item-card-button-container >button {
    width: 45%;
}


nav {
    margin:0;
    padding:0;
}

.menu {
    margin:0;
    padding:0;
    list-style-type: none;
    background: #006197;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: 2px solid #F6F6F6;
    width: 25%;
    color:#FDFDFD;
    font-size: 18px;
    text-align: center;
    align-self: flex-start;
}

ul>li{
    padding: 10px 0 10px 0;
}

.menu li:not(:last-child){
    border-bottom: 2px solid #F6F6F6;
}

.container {
    background: #CAE4EC;
    border-radius: 45px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    width: 68%;
    padding: 20px 40px 20px 40px;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
}

.path {
    border-bottom:  1px solid #C4C4C4;;
}

.common {
    display: flex;
    flex-direction: column;
}

.common-c{
    display: flex;
    justify-content: space-between;
}

.common-contacts {
    /*margin-top: 40px;*/
    align-self: flex-start;
}

.showcase-img{
    width:80%;
    margin:auto;
}

footer {
    background: #FFFFFF;
    border-top: 2px solid #E2E2E2;
    color: black;
    font-size: 24px;
    line-height: 29px;
}

.footer-content {
    margin: 0 30px 0 30px;
}

.footer-content-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-img {
    margin-top: 30px;
}

.footer-confident-studio {
    flex-direction: column;
}

.footer-confident-studio span {
    align-items: center;
}

.studio {
    text-align: center;
    margin-top: 40px;
}

@media (max-width: 850px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2){

    footer {
        background: #FFFFFF;
        border-top: 2px solid #E2E2E2;
        color: black;
        font-size: 24px;
        line-height: 29px;
    }

    .footer-content {
        margin: 0 30px 0 30px;
    }

    .footer-content-items {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.body-container {
    background-image: url(http://fishall-shop/templates/img/background.png);
    padding: 25px 40px 25px 20px;
    display: flex;
    justify-content: space-between;
}

iframe {
    align-self: flex-start;
}

.items-table {
    display: flex;
    flex-direction: column;
    background: #c9c9c9;
    border: 1px solid #e2e2e2;
    border-radius: 45px;
    width: 97%;
    padding: 5px 20px 5px 20px;
    margin-bottom: 20px;
}

.items-table-product {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border: 1px solid black;
    border-radius: 30px;
    margin-bottom: 5px;
}

/*.items-table-product>div {*/
/*    border: 1px solid black;*/
/*}*/

#product-img {
    width: 20%;
}

#product-name {
    width: 10%;
}

#product-weight {
    width: 10%;
}

#product-price {
    width: 10%;
}

#product-quantity {
    width: 10%;
}

#product-total {
    width: 10%;
}

.total {
    display: flex;
    justify-content: space-between;
}

.total>p {
    font-size: 40px;
}
