<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style/style-about-shop-cont.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>about-shop</title>
</head>

<body>

</body>
<aboutShop>
    <div class="container">
        <div class="path">
            <span>Главная / О магазине </span><br>
        </div>
        <div class="common">
            <h1>О магазине </h1>
            <img class="showcase-img" src="img/showcase.png"><br><br>
            <span><u>FISHall</u> - это магазин , который занимается розничной продажей рыбы уже 30
                и имеет колосальный опыт в подборе и продаже дествиельно вкусной и свежей рыбы</span><br><br>
            <span><u>Адрес магазина:</u></span>
            <span>улица залупкина дом 15</span><br><br>
            <span><u>Работает ежедневно с 9:00 до 21:00</u></span>
            <span>приехать в магазин можно без предварительного заказа и оплатить товар либо наличными средствами,
                либо банковским переводом</span><br><br>
            <span><u>Как проехать?</u></span>
            <span>метро бла бла ,потом налево ,потом направо ,потом на хуй </span><br><br>
        </div>
    </div>
</aboutShop>

</html>