<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style/style-about-shop-del-cont.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>contacts</title>
</head>

<body>

</body>
<contacts>
    <div class="container">
        <div class="path">
            <span>Главная / Контакт </span><br>
        </div>
        <section>
            <h1>Контакты</h1>
            <div class="common-c">
                <div class="common-contacts">
                    <span>Адрес:<br>
                        ул. Народного Ополчения, 22к1
                    </span><br><br>
                    <span>Телефоны:<br>
                        23453254<br>
                        3245235<br></span><br>
                    <span>Почта: 43к3@hmail.com</span>
                </div>
                <div class="common-map">
                    <iframe
                        src="https://yandex.ru/map-widget/v1/?um=constructor%3A98b3850268398bf63ea8ad9a088a9e579f57891b9256a3ccb2f7df040228faf2&amp;source=constructor"
                        width="434" height="354" frameborder="0"></iframe>
                </div>
            </div>
        </section>
    </div>
</contacts>

</html>