<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="style/style-about-shop-del.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>delivery</title>
</head>
<body>

</body>
<aboutShop>
    <div class="container">
        <div class="path">
            <span>Главная / Доставка </span><br>
        </div>
        <div class="common">
            <h1>Доставка</h1>
            <span>Вы можете сделать заказ по телефону: 23453545, либо через сайт, добавив нужные товары в корзину.<br>
                 <u>Варианты доставки:</u></span><br>
            <span>1. Самовывоз по адресу: дывалызвлдаывзалдывщза</span><br>
            <span>2. Курьерская доставка доставка по Москве внутри МКАД.</span><br><br>
            <span>Стоимость курьерской доставки при заказе от 6000: <strong> БЕСПЛАТНО!</strong></span><br><br>
            <span>Доставляем на следующий день при потверждении заказа до 20:00.</span>
            <span>Желаем вам приятного аппетита!</span><br><br>
            <span>По любым вопросам обращайтесь по телефонам:<br>
                23453254<br>
                3245235<br>
                или по почте: 43к3@hmail.com</span>
        </div>
    </div>
</aboutShop>
</html>