<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="style/style-footer.css">
    <title>Footer</title>
</head>
<body>

</body>
<footer>
    <div class="footer-content">
        <div class="footer-content-items">
            <div class="footer-text">
                    <p>
                        © 1990-2020 ИП Коровкин<br>
                        ИНН 773575436666<br>
                        ОГРН 313774635700403<br>
                        +7 499 502 0444<br>
                    </p>
            </div>
            <div class="footer-img">
                <img src="img/fishall/Group 9.svg">
            </div>
            <div class="footer-confident-studio">
                <div class="confident">
                    <span>Политика конфиденциальности</span>
                </div>
                <div class="studio">
                    <span>Designed and created in</span>
                    <img src="img/vlander/v2_transparent 3.png">
                </div>
            </div>
        </div>
    </div>
</footer>
</html>