<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="style/header-style.css">
    <title>Название страницы</title>
</head>
<body>
<div class="main-container">
    <div class="main-img">
        <img src="img/item-picture.png" class="main-img-picture">
    </div>
    <div class="info-container">
        <div>
            <p>Доставка</p>
            <p>
                - Напрямую с производства<br>
                - Максимальная свежесть<br>
                Москва и московская область </p>
        </div>
        <div>
            <p>Доставка</p>
            <p>
                - Напрямую с производства<br>
                - Максимальная свежесть<br>
                Москва и московская область </p>
        </div>
        <div>
            <p>Доставка</p>
            <p>
                - Напрямую с производства<br>
                - Максимальная свежесть<br>
                Москва и московская область </p>
        </div>
    </div>
    <div class="new-items-block">

    </div>
</div>
</body>
</html>